<IfModule mod_negotiation.c>
    Options -MultiViews -Indexes
</IfModule>

DirectoryIndex index.html index.php

AddDefaultCharset UTF-8

<IfModule mod_mime.c>
    AddType "text/html; charset=UTF-8" .html .htm
    AddCharset UTF-8 .html .htm .css .js .json .xml .txt
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{REQUEST_URI} ^/api(/.*)?$ [NC]
    RewriteRule ^ index.php [L]

    RewriteCond %{REQUEST_URI} ^/sanctum(/.*)?$ [NC]
    RewriteRule ^ index.php [L]

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^ index.html [L]
</IfModule>
